<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <description>Dubbo Demo Service</description>
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-mitutucue" />
    <!-- dubbo缓存 -->
    <dubbo:protocol id="dubbo" name="dubbo" port="20880" threadpool="cached" threads="100" />

    <!-- simplified="true"表示注册简化版的URL到Registry，URL简化只是剔除了一些纯粹的查询用的参数，并没有做大刀阔斧的服务发现模型改造，
    因此精简后的URL完全可以被2.6及以下版本的消费端实现服务发现与调用，同样2.7版本也可以发现和调用低版本的提供者。 -->
    <!--<dubbo:registry address="zookeeper://127.0.0.1:2181" simplified="true"/>-->

     <!--2.7以下使用zookeeper注册中心暴露服务地址-->
    <!--<dubbo:registry protocol="zookeeper" address="39.108.13.71:2181" client="zkclient" />-->

    <!--2.7版本开始将注册中心分为3部分-->
    <!--配置中心-->
    <dubbo:config-center address="zookeeper://39.108.13.71:2181"/>
   <!--注册中心-->
    <dubbo:registry address="zookeeper://39.108.13.71:2181" />
    <!--源数据-->
    <dubbo:metadata-report address="zookeeper://39.108.13.71:2181"/>

   <!-- &lt;!&ndash; Greeting服务 -->
    <!--<bean id="demoFacade" class="com.xiaozhuanglt.mitutucue.facade.facadeimpl.DemoFacadeImpl" />-->
    <!--<dubbo:service interface="com.xiaozhuanglt.mitutucue.facade.DemoFacade" ref="demoFacade"  />-->

    <dubbo:service
            interface="com.xiaozhuanglt.mitutucue.facade.DemoFacade" ref="demoFacade" protocol="dubbo" version="1.0.0" delay="-1" timeout="20000" />

    <!--&lt;!&ndash; 声明需要暴露的服务接口 &ndash;&gt;-->
    <!--<dubbo:reference  id="demoFacade" interface="com.xiaozhuanglt.mitutucue.facade.facadeimpl.DemoFacadeImpl" version="1.0.0" timeout="50000" check="false"/>-->
</beans>